.kontakt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 130px;


}

.location {
    margin-bottom: 50px;
}

.line {
    width: 30%;
}

.footerText {
  font-size: 18px;
  line-height: 1.6;
  max-width: 80%;
  margin-top: 40px;
}

@media (max-width:972px) {
    .mapFrame {
    height: 280px;
    }


    .location {
        max-width: 80%;
        display: flex;
        justify-content: center;
    }

    .footerText {
    font-size: 15px;
    line-height: 1.5;
    }
}